
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeaderPartialComponent")

<body>
	<div class="wrapper">
	@await Component.InvokeAsync("_LayoutNavBarPartialComponent")
		@await Component.InvokeAsync("_LayoutSideBarPartialComponent")
		
		
		<div class="main-panel">
			@RenderBody()
			
			@await Component.InvokeAsync("_LayoutFooterPartialComponent")
			@await Component.InvokeAsync("_LayoutScriptPartialComponent")
		</div>
	</div>
	
</body>

</html>
